// 変数とMixinの定義ファイル

// 基本的な色指定
$color : (
    white_color_1: #FFFFFF,
    navy_color: #1B224C,
    gray_color_1: #707070,
    gray_color_2: #C3C3C3,
    gray_color_3: #F8F8F8,
    orange_color: #F5A623,
    back_color: rgba(161, 161, 161, 0.5),
    quote: #B4B4B4,
);

// 色を返す
@mixin color($key) {
    color: map-get($color, $key);
}

@mixin backColor($key) {
    background-color: map-get($color, $key);
}

// 基本的なz-indexの値管理
$z-index : (
    header: 100,
    hamburger: 70,
    global-menu: 50,
    back_color: 1,
    image: -1,
);

// 色を返す
@mixin z-index($key) {
    z-index: map-get($z-index, $key);
}

@mixin flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

