.breadcrumb__list {
    height: 50px;
    display: flex;
    padding-left: 14.8%;
    @include backColor(gray_color_3);
    .breadcrumb__item {
        line-height: 50px;
        + .breadcrumb__item::before {
            content: '>';
            margin-left: 6px;
            margin-right: 3px; 
        }
        span {
            font-size: 12px;
        }
    }
}