.single_blog {
    margin-top: 60px;
    margin-bottom: 70px;
}

.single_blog_left {
    width: calc(100% - 270px - 36px);
}

.sidebar {
    width: 270px;
}

.blog_content {
    .tag {
        font-size: 12px;
        text-align: center;
        padding: 10px 25px;
        @include backColor(navy_color);
        @include color(white_color_1);
    }
    h1 {
        font-size: 28px;
        line-height: 42px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .flex {
        margin-bottom: 22px;
        .sns_btn {
            height: 20px;
        }
        time {
            font-size: 16px;
            @include color(navy_color);
        }
    }
    figure {
        width: 100%;
        height: 370px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
        }
    }
    .section2 {
        margin-top: 40px;
        h2 {
            font-size: 28px;
            margin-bottom: 30px;
        }
        p {
            line-height: 24px;
            
        }
    }
    .section3 {
        margin-top: 33px;
        h3 {
            font-size: 22px;
            margin-bottom: 27px;
            &::before {
                content: "";
                display: inline-block;
                width: 4px;
                height: 28px;
                margin-right: 10px;
                transform: translateY(5px);
                @include backColor(navy_color);
            }
        }
        p {
            line-height: 24px;
        }
    }
    .quote {
        padding: 27px 17px;
        margin-top: 30px;
        @include backColor(gray_color_3);
        span {
            width: 46px;
            height: 46px;
            @include color(quote);
            font-size: 90px;
            transform: translateY(-30px);
        }
        p {
            margin-left: 10px;
            flex: 1;
            line-height: 24px;
        }
    }
    ul {
        margin-top: 30px;
        li {
            line-height: 24px;
            width: calc(100% - 11px - 20px);
            margin-left: auto;
            @include color(orange_color);
            padding-left: 0px;
            text-indent: -0.6em; /*インデントの調整*/
            span {
                @include color(navy_color);
            }
            &::before {
                content: '';
                position: relative;
                left: -20px;
                display: inline-block;
                width: 11px;
                height: 11px;
                border-radius: 100%;
                @include backColor(orange_color);
              }
        }
    }
    a {
        @include color(orange_color);
        font-size: 18px;
        margin-top: 30px;
        display: block;
    }
}

.bottombar {
    margin-top: 60px;
    h2 {
        font-size: 26px;
    }
    article {
        margin-top: 30px;
        .blog_image {
            width: 210px;
            height: 128px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            span {
                position: absolute;
                top: 0;
                left: 0;
                @include backColor(navy_color);
                @include color(white_color_1);
                padding: 7px 12px;
                font-size: 12px;
            }
        }
        .blog_text {
            text-align: left;
            width: calc(100% - 210px - 32px);
            time {
                font-size: 16px;
                height: 16px;
                line-height: 16px;
                display: inline-block;
                margin-bottom: 30px;
            }
            h3 a {
                line-height: 39px;
                display: block;
                @include color(navy_color);
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
}

.connect_article {
    h2 {
        width: 100%;
        height: 63px;
        @include backColor(navy_color);
        @include color(white_color_1);
        font-size: 21px;
        text-align: center;
        line-height: 63px;
    }
    .connect_article_container {
        margin-top: 30px;
        margin-bottom: 50px;
        article {
            margin-top: 30px;
            .blog_image {
                width: 100px;
                height: 70px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .blog_text {
                text-align: left;
                width: calc(100% - 100px - 17px);
                p a {
                    font-size: 12px;
                    line-height: 39px;
                    display: block;
                    @include color(navy_color);
                    line-height: 24px;
                }
            }
        }
    }
}

.category {
    h2 {
        width: 100%;
        height: 63px;
        @include backColor(navy_color);
        @include color(white_color_1);
        font-size: 21px;
        text-align: center;
        line-height: 63px;
    }
    ul {
        margin-top: 30px;
        li {
            list-style: inside;
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 8px;
        }
    }
}